In [1]:
import re
import os

import pandas as pd
import numpy as np

In [2]:
root = os.getcwd()
print(root)

accept_data_path = os.path.join(root, "loan.csv")
accept_data = pd.read_csv(accept_data_path)
accept_data.info()
accept_data.head()

/home/chuncheih/algorithm/FinLLM/current_data

/tmp/ipykernel_27659/3617313940.py:5: DtypeWarning: Columns (19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  accept_data = pd.read_csv(accept_data_path)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887379 entries, 0 to 887378
Data columns (total 74 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           887379 non-null  int64
 1   member_id                    887379 non-null  int64
 2   loan_amnt                    887379 non-null  float64
 3   funded_amnt                  887379 non-null  float64
 4   funded_amnt_inv              887379 non-null  float64
 5   term                         887379 non-null  object
 6   int_rate                     887379 non-null  float64
 7   installment                  887379 non-null  float64
 8   grade                        887379 non-null  object
 9   sub_grade                    887379 non-null  object
 10  emp_title                    835917 non-null  object
 11  emp_length                   842554 non-null  object
 12  home_ownership               887379 non-null  object
 13  annual_inc                   887375 non-null  float64
 14  verification_status          887379 non-null  object
 15  issue_d                      887379 non-null  object
 16  loan_status                  887379 non-null  object
 17  pymnt_plan                   887379 non-null  object
 18  url                          887379 non-null  object
 19  desc                         126026 non-null  object
 20  purpose                      887379 non-null  object
 21  title                        887226 non-null  object
 22  zip_code                     887379 non-null  object
 23  addr_state                   887379 non-null  object
 24  dti                          887379 non-null  float64
 25  delinq_2yrs                  887350 non-null  float64
 26  earliest_cr_line             887350 non-null  object
 27  inq_last_6mths               887350 non-null  float64
 28  mths_since_last_delinq       433067 non-null  float64
 29  mths_since_last_record       137053 non-null  float64
 30  open_acc                     887350 non-null  float64
 31  pub_rec                      887350 non-null  float64
 32  revol_bal                    887379 non-null  float64
 33  revol_util                   886877 non-null  float64
 34  total_acc                    887350 non-null  float64
 35  initial_list_status          887379 non-null  object
 36  out_prncp                    887379 non-null  float64
 37  out_prncp_inv                887379 non-null  float64
 38  total_pymnt                  887379 non-null  float64
 39  total_pymnt_inv              887379 non-null  float64
 40  total_rec_prncp              887379 non-null  float64
 41  total_rec_int                887379 non-null  float64
 42  total_rec_late_fee           887379 non-null  float64
 43  recoveries                   887379 non-null  float64
 44  collection_recovery_fee      887379 non-null  float64
 45  last_pymnt_d                 869720 non-null  object
 46  last_pymnt_amnt              887379 non-null  float64
 47  next_pymnt_d                 634408 non-null  object
 48  last_credit_pull_d           887326 non-null  object
 49  collections_12_mths_ex_med   887234 non-null  float64
 50  mths_since_last_major_derog  221703 non-null  float64
 51  policy_code                  887379 non-null  float64
 52  application_type             887379 non-null  object
 53  annual_inc_joint             511 non-null     float64
 54  dti_joint                    509 non-null     float64
 55  verification_status_joint    511 non-null     object
 56  acc_now_delinq               887350 non-null  float64
 57  tot_coll_amt                 817103 non-null  float64
 58  tot_cur_bal                  817103 non-null  float64
 59  open_acc_6m                  21372 non-null   float64
 60  open_il_6m                   21372 non-null   float64
 61  open_il_12m                  21372 non-null   float64
 62  open_il_24m                  21372 non-null   float64
 63  mths_since_rcnt_il           20810 non-null   float64
 64  total_bal_il                 21372 non-null   float64
 65  il_util                      18617 non-null   float64
 66  open_rv_12m                  21372 non-null   float64
 67  open_rv_24m                  21372 non-null   float64
 68  max_bal_bc                   21372 non-null   float64
 69  all_util                     21372 non-null   float64
 70  total_rev_hi_lim             817103 non-null  float64
 71  inq_fi                       21372 non-null   float64
 72  total_cu_tl                  21372 non-null   float64
 73  inq_last_12m                 21372 non-null   float64
dtypes: float64(49), int64(2), object(23)
memory usage: 501.0+ MB

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
'''只考虑loan_status的类别为Fully Paid和Default的数据'''
filtered_data = accept_data[accept_data['loan_status'].isin(["Fully Paid", "Default"])]

In [4]:
filtered_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 208942 entries, 0 to 887369
Data columns (total 74 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           208942 non-null  int64
 1   member_id                    208942 non-null  int64
 2   loan_amnt                    208942 non-null  float64
 3   funded_amnt                  208942 non-null  float64
 4   funded_amnt_inv              208942 non-null  float64
 5   term                         208942 non-null  object
 6   int_rate                     208942 non-null  float64
 7   installment                  208942 non-null  float64
 8   grade                        208942 non-null  object
 9   sub_grade                    208942 non-null  object
 10  emp_title                    198372 non-null  object
 11  emp_length                   201499 non-null  object
 12  home_ownership               208942 non-null  object
 13  annual_inc                   208942 non-null  float64
 14  verification_status          208942 non-null  object
 15  issue_d                      208942 non-null  object
 16  loan_status                  208942 non-null  object
 17  pymnt_plan                   208942 non-null  object
 18  url                          208942 non-null  object
 19  desc                         73277 non-null   object
 20  purpose                      208942 non-null  object
 21  title                        208930 non-null  object
 22  zip_code                     208942 non-null  object
 23  addr_state                   208942 non-null  object
 24  dti                          208942 non-null  float64
 25  delinq_2yrs                  208942 non-null  float64
 26  earliest_cr_line             208942 non-null  object
 27  inq_last_6mths               208942 non-null  float64
 28  mths_since_last_delinq       92558 non-null   float64
 29  mths_since_last_record       26183 non-null   float64
 30  open_acc                     208942 non-null  float64
 31  pub_rec                      208942 non-null  float64
 32  revol_bal                    208942 non-null  float64
 33  revol_util                   208789 non-null  float64
 34  total_acc                    208942 non-null  float64
 35  initial_list_status          208942 non-null  object
 36  out_prncp                    208942 non-null  float64
 37  out_prncp_inv                208942 non-null  float64
 38  total_pymnt                  208942 non-null  float64
 39  total_pymnt_inv              208942 non-null  float64
 40  total_rec_prncp              208942 non-null  float64
 41  total_rec_int                208942 non-null  float64
 42  total_rec_late_fee           208942 non-null  float64
 43  recoveries                   208942 non-null  float64
 44  collection_recovery_fee      208942 non-null  float64
 45  last_pymnt_d                 208933 non-null  object
 46  last_pymnt_amnt              208942 non-null  float64
 47  next_pymnt_d                 1219 non-null    object
 48  last_credit_pull_d           208927 non-null  object
 49  collections_12_mths_ex_med   208892 non-null  float64
 50  mths_since_last_major_derog  39122 non-null   float64
 51  policy_code                  208942 non-null  float64
 52  application_type             208942 non-null  object
 53  annual_inc_joint             1 non-null       float64
 54  dti_joint                    1 non-null       float64
 55  verification_status_joint    1 non-null       object
 56  acc_now_delinq               208942 non-null  float64
 57  tot_coll_amt                 155235 non-null  float64
 58  tot_cur_bal                  155235 non-null  float64
 59  open_acc_6m                  144 non-null     float64
 60  open_il_6m                   144 non-null     float64
 61  open_il_12m                  144 non-null     float64
 62  open_il_24m                  144 non-null     float64
 63  mths_since_rcnt_il           140 non-null     float64
 64  total_bal_il                 144 non-null     float64
 65  il_util                      126 non-null     float64
 66  open_rv_12m                  144 non-null     float64
 67  open_rv_24m                  144 non-null     float64
 68  max_bal_bc                   144 non-null     float64
 69  all_util                     144 non-null     float64
 70  total_rev_hi_lim             155235 non-null  float64
 71  inq_fi                       144 non-null     float64
 72  total_cu_tl                  144 non-null     float64
 73  inq_last_12m                 144 non-null     float64
dtypes: float64(49), int64(2), object(23)
memory usage: 119.6+ MB

In [26]:
'''清除desc中的无用描述'''
def clean_desc(desc):
    if isinstance(desc, str):
        return re.sub(r'Borrower added on \d{2}/\d{2}/\d{2} > ', '', desc)
    return desc

def clean_desc_2(desc):
    if isinstance(desc, str):
        return re.sub(r'<br>', '', desc)
    return desc

filtered_data['desc'] = filtered_data['desc'].apply(clean_desc)
filtered_data['desc'] = filtered_data['desc'].apply(clean_desc_2)

/tmp/ipykernel_27659/1603901815.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['desc'] = filtered_data['desc'].apply(clean_desc)
/tmp/ipykernel_27659/1603901815.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['desc'] = filtered_data['desc'].apply(clean_desc_2)

In [27]:
filtered_data_path = os.path.join(root, "filtered_accepted_loans(FINAL).csv")
filtered_data.to_csv(filtered_data_path, index=False)

In [7]:
filtered_data_default = filtered_data[filtered_data['loan_status'].isin(['Default'])]
filtered_data_default.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1219 entries, 318 to 887151
Data columns (total 74 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           1219 non-null   int64
 1   member_id                    1219 non-null   int64
 2   loan_amnt                    1219 non-null   float64
 3   funded_amnt                  1219 non-null   float64
 4   funded_amnt_inv              1219 non-null   float64
 5   term                         1219 non-null   object
 6   int_rate                     1219 non-null   float64
 7   installment                  1219 non-null   float64
 8   grade                        1219 non-null   object
 9   sub_grade                    1219 non-null   object
 10  emp_title                    1140 non-null   object
 11  emp_length                   1148 non-null   object
 12  home_ownership               1219 non-null   object
 13  annual_inc                   1219 non-null   float64
 14  verification_status          1219 non-null   object
 15  issue_d                      1219 non-null   object
 16  loan_status                  1219 non-null   object
 17  pymnt_plan                   1219 non-null   object
 18  url                          1219 non-null   object
 19  desc                         126 non-null    object
 20  purpose                      1219 non-null   object
 21  title                        1219 non-null   object
 22  zip_code                     1219 non-null   object
 23  addr_state                   1219 non-null   object
 24  dti                          1219 non-null   float64
 25  delinq_2yrs                  1219 non-null   float64
 26  earliest_cr_line             1219 non-null   object
 27  inq_last_6mths               1219 non-null   float64
 28  mths_since_last_delinq       593 non-null    float64
 29  mths_since_last_record       216 non-null    float64
 30  open_acc                     1219 non-null   float64
 31  pub_rec                      1219 non-null   float64
 32  revol_bal                    1219 non-null   float64
 33  revol_util                   1218 non-null   float64
 34  total_acc                    1219 non-null   float64
 35  initial_list_status          1219 non-null   object
 36  out_prncp                    1219 non-null   float64
 37  out_prncp_inv                1219 non-null   float64
 38  total_pymnt                  1219 non-null   float64
 39  total_pymnt_inv              1219 non-null   float64
 40  total_rec_prncp              1219 non-null   float64
 41  total_rec_int                1219 non-null   float64
 42  total_rec_late_fee           1219 non-null   float64
 43  recoveries                   1219 non-null   float64
 44  collection_recovery_fee      1219 non-null   float64
 45  last_pymnt_d                 1210 non-null   object
 46  last_pymnt_amnt              1219 non-null   float64
 47  next_pymnt_d                 1219 non-null   object
 48  last_credit_pull_d           1219 non-null   object
 49  collections_12_mths_ex_med   1219 non-null   float64
 50  mths_since_last_major_derog  331 non-null    float64
 51  policy_code                  1219 non-null   float64
 52  application_type             1219 non-null   object
 53  annual_inc_joint             0 non-null      float64
 54  dti_joint                    0 non-null      float64
 55  verification_status_joint    0 non-null      object
 56  acc_now_delinq               1219 non-null   float64
 57  tot_coll_amt                 1201 non-null   float64
 58  tot_cur_bal                  1201 non-null   float64
 59  open_acc_6m                  0 non-null      float64
 60  open_il_6m                   0 non-null      float64
 61  open_il_12m                  0 non-null      float64
 62  open_il_24m                  0 non-null      float64
 63  mths_since_rcnt_il           0 non-null      float64
 64  total_bal_il                 0 non-null      float64
 65  il_util                      0 non-null      float64
 66  open_rv_12m                  0 non-null      float64
 67  open_rv_24m                  0 non-null      float64
 68  max_bal_bc                   0 non-null      float64
 69  all_util                     0 non-null      float64
 70  total_rev_hi_lim             1201 non-null   float64
 71  inq_fi                       0 non-null      float64
 72  total_cu_tl                  0 non-null      float64
 73  inq_last_12m                 0 non-null      float64
dtypes: float64(49), int64(2), object(23)
memory usage: 714.3+ KB

In [8]:
filtered_data_fullypaid = filtered_data[filtered_data['loan_status'].isin(['Fully Paid'])]
filtered_data_fullypaid.info()

<class 'pandas.core.frame.DataFrame'>
Index: 207723 entries, 0 to 887369
Data columns (total 74 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           207723 non-null  int64
 1   member_id                    207723 non-null  int64
 2   loan_amnt                    207723 non-null  float64
 3   funded_amnt                  207723 non-null  float64
 4   funded_amnt_inv              207723 non-null  float64
 5   term                         207723 non-null  object
 6   int_rate                     207723 non-null  float64
 7   installment                  207723 non-null  float64
 8   grade                        207723 non-null  object
 9   sub_grade                    207723 non-null  object
 10  emp_title                    197232 non-null  object
 11  emp_length                   200351 non-null  object
 12  home_ownership               207723 non-null  object
 13  annual_inc                   207723 non-null  float64
 14  verification_status          207723 non-null  object
 15  issue_d                      207723 non-null  object
 16  loan_status                  207723 non-null  object
 17  pymnt_plan                   207723 non-null  object
 18  url                          207723 non-null  object
 19  desc                         73151 non-null   object
 20  purpose                      207723 non-null  object
 21  title                        207711 non-null  object
 22  zip_code                     207723 non-null  object
 23  addr_state                   207723 non-null  object
 24  dti                          207723 non-null  float64
 25  delinq_2yrs                  207723 non-null  float64
 26  earliest_cr_line             207723 non-null  object
 27  inq_last_6mths               207723 non-null  float64
 28  mths_since_last_delinq       91965 non-null   float64
 29  mths_since_last_record       25967 non-null   float64
 30  open_acc                     207723 non-null  float64
 31  pub_rec                      207723 non-null  float64
 32  revol_bal                    207723 non-null  float64
 33  revol_util                   207571 non-null  float64
 34  total_acc                    207723 non-null  float64
 35  initial_list_status          207723 non-null  object
 36  out_prncp                    207723 non-null  float64
 37  out_prncp_inv                207723 non-null  float64
 38  total_pymnt                  207723 non-null  float64
 39  total_pymnt_inv              207723 non-null  float64
 40  total_rec_prncp              207723 non-null  float64
 41  total_rec_int                207723 non-null  float64
 42  total_rec_late_fee           207723 non-null  float64
 43  recoveries                   207723 non-null  float64
 44  collection_recovery_fee      207723 non-null  float64
 45  last_pymnt_d                 207723 non-null  object
 46  last_pymnt_amnt              207723 non-null  float64
 47  next_pymnt_d                 0 non-null       object
 48  last_credit_pull_d           207708 non-null  object
 49  collections_12_mths_ex_med   207673 non-null  float64
 50  mths_since_last_major_derog  38791 non-null   float64
 51  policy_code                  207723 non-null  float64
 52  application_type             207723 non-null  object
 53  annual_inc_joint             1 non-null       float64
 54  dti_joint                    1 non-null       float64
 55  verification_status_joint    1 non-null       object
 56  acc_now_delinq               207723 non-null  float64
 57  tot_coll_amt                 154034 non-null  float64
 58  tot_cur_bal                  154034 non-null  float64
 59  open_acc_6m                  144 non-null     float64
 60  open_il_6m                   144 non-null     float64
 61  open_il_12m                  144 non-null     float64
 62  open_il_24m                  144 non-null     float64
 63  mths_since_rcnt_il           140 non-null     float64
 64  total_bal_il                 144 non-null     float64
 65  il_util                      126 non-null     float64
 66  open_rv_12m                  144 non-null     float64
 67  open_rv_24m                  144 non-null     float64
 68  max_bal_bc                   144 non-null     float64
 69  all_util                     144 non-null     float64
 70  total_rev_hi_lim             154034 non-null  float64
 71  inq_fi                       144 non-null     float64
 72  total_cu_tl                  144 non-null     float64
 73  inq_last_12m                 144 non-null     float64
dtypes: float64(49), int64(2), object(23)
memory usage: 118.9+ MB